*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background: url(https://i.pinimg.com/originals/7a/fd/d6/7afdd6915a8219f5dcdb89ff990a9a72.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Inter', sans-serif;
}
.contenedor
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.plan
{
    margin: 5%;
    padding: 3%;
    color: #fff;
    background: transparent;
    backdrop-filter: blur(40px);
    border-radius: 10px 25%;
    width: 20%;
    height: auto;
}
.plan h1
{
    text-align: center;
    margin-bottom: 8%;
}
.plan li
{
    text-align: left;
}
li
{
    margin: 12% 5%;
}
.plan h2
{
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border: solid 1.5px #fff;
    padding: 3% 0%;
    border-radius: 1px 5cm;
}